<meta name="google-site-verification" content="I15BdfDU61eURsp8IywfU9hV8Rygaa4JsH-U8kKAxVs" />
<style type="text/css">
  #body-inner pre {
      white-space: pre;
  }
  dd {
    display: list-item;
    list-style: none;
    margin-inline-start: 1.5rem;
  }
  article a:hover > svg:only-child:empty,
  article a:active > svg:only-child:empty,
  article a:focus > svg:only-child:empty,
  article a:hover > img:only-child:empty,
  article a:active > img:only-child:empty,
  article a:focus > img:only-child:empty {
    outline: none;
  }
</style>
